<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style>
    li{
      list-style-type: none;
    }
  </style>
  <title>Add</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!--        <a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <li class="nav-item">
        <img src="https://upload.wikimedia.org/wikipedia/en/6/6f/Manas_University_logo.png" style="width: 60px; margin-right: 20px">
      </li>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/admin}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://eders-bahar2023.manas.edu.kg/">E-Ders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://elib.manas.edu.kg/index.php">E-Библиотека</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.manas.edu.kg/ru">Главный сайт</a>
        </li>

      </ul>
<!--      <form class="d-flex" role="search">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
      <form th:action="@{/logout}" th:method="POST" class="logout">
        <button type="submit" class="btn btn-primary btn-sm">Выйти</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <form th:method="POST" th:action="@{/admin/student/add}" th:object="${student}">
    <div class="form-group">
      <label for="name">Имя:</label>
      <input type="text" class="form-control" th:field="*{name}" id="name">
      <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red; font-size: smaller; font-style: italic">Name error</div><br>
    </div>
    <div class="form-group">
      <label for="surname">Фамилия:</label>
      <input type="text" class="form-control" th:field="*{surname}" id="surname">
      <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color: red; font-size: smaller; font-style: italic">Name error</div><br>
    </div>
    <div class="form-group">
      <label for="st_number">Студентический номер:</label>
      <input type="text" class="form-control" th:field="*{student_number}" id="st_number">
      <div th:if="${#fields.hasErrors('student_number')}" th:errors="*{student_number}" style="color: red; font-size: smaller; font-style: italic">Name error</div><br>
    </div>
    <div class="form-group">
      <label for="pwd">Пароль:</label>
      <input type="password" class="form-control" th:field="*{password}" id="pwd">
      <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red; font-size: smaller; font-style: italic">Name error</div><br>
    </div>
    <div class="form-group">
      <label for="email">Электронная почта:</label>
      <input type="text" class="form-control" th:field="*{email}" id="email">
      <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red; font-size: smaller; font-style: italic">Name error</div><br>
    </div>
    <div class="form-group">
      <label for="fath_name">Имя отца:</label>
      <input type="text" class="form-control" th:field="*{father_name}" id="fath_name">
      <div th:if="${#fields.hasErrors('father_name')}" th:errors="*{father_name}" style="color: red; font-size: smaller; font-style: italic">Name error</div><br>
    </div>
    <div class="form-group">
      <label for="moth_name">Имя мамы:</label>
      <input type="text" class="form-control" th:field="*{mother_name}" id="moth_name">
      <div th:if="${#fields.hasErrors('mother_name')}" th:errors="*{mother_name}" style="color: red; font-size: smaller; font-style: italic">Name error</div><br>
    </div>
    <div class="form-group">
      <label for="tel_number">Номер телефона:</label>
      <input type="text" class="form-control" th:field="*{tel_number}" id="tel_number">
      <div th:if="${#fields.hasErrors('tel_number')}" th:errors="*{tel_number}" style="color: red; font-size: smaller; font-style: italic">Name error</div><br>
    </div>
    <div class="form-group">
      <label for="place">Место рождения:</label>
      <input type="text" class="form-control" th:field="*{place_of_birth}" id="place">
      <div th:if="${#fields.hasErrors('place_of_birth')}" th:errors="*{place_of_birth}" style="color: red; font-size: smaller; font-style: italic">Name error</div><br>
    </div>
    <div class="form-group">
      <label for="nation">Националность:</label>
      <input type="text" class="form-control" th:field="*{nationality}" id="nation">
      <div th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}" style="color: red; font-size: smaller; font-style: italic">Name error</div><br>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Добавить</button>
  </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>