<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        li{
            list-style-type: none;
        }
    </style>
    <title>Add</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!--        <a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <li class="nav-item">
                <img src="https://upload.wikimedia.org/wikipedia/en/6/6f/Manas_University_logo.png" style="width: 60px; margin-right: 20px">
            </li>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://eders-bahar2023.manas.edu.kg/">E-Ders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://elib.manas.edu.kg/index.php">E-Библиотека</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://www.manas.edu.kg/ru">Главный сайт</a>
                </li>

            </ul>
<!--            <form class="d-flex" role="search">-->
<!--                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--            </form>-->
            <form th:action="@{/logout}" th:method="POST" class="logout">
                <button type="submit" class="btn btn-primary btn-sm">Выйти</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <form th:method="POST" th:action="@{/admin/lesson/{id}/add(id=${student.getId()})}" th:object="${lesson}">
        <div class="form-group">
            <label for="name">Код урока:</label>
            <input type="text" class="form-control" th:field="*{lesson_code}" id="name">
            <div th:if="${#fields.hasErrors('lesson_code')}" th:errors="*{lesson_code}" style="color: red; font-size: smaller; font-style: italic">Name error</div><br>
        </div>
        <div class="form-group">
            <label for="surname">Имя урока:</label>
            <input type="text" class="form-control" th:field="*{lesson_name}" id="surname">
            <div th:if="${#fields.hasErrors('lesson_name')}" th:errors="*{lesson_name}" style="color: red; font-size: smaller; font-style: italic">Name error</div><br>
        </div>
        <div class="form-group">
            <label for="st_number">Кредит:</label>
            <input type="text" class="form-control" th:field="*{kredi}" id="st_number">
            <div th:if="${#fields.hasErrors('kredi')}" th:errors="*{kredi}" style="color: red; font-size: smaller; font-style: italic">Name error</div><br>
        </div>
        <div class="input-group mb-3">
<!--            <select class="form-select" id="inputGroupSelect02" th:each="teacher:${teachers}">-->
<!--                <option th:text="${teacher.getName()+' '+${teacher.getSurname()}}" th:value="${teacher.getId()}">Three</option>-->
<!--            </select>-->
<!--            <select class="form-select" id="inputGroupSelect02" th:field="*{teacher}" multiple>-->
<!--                <option th:each="teacher : ${teachers}"-->
<!--                        th:value="${teacher.getId()}"-->
<!--                        th:text="${teacher.getName()}+' '+${teacher.getSurname()}">dip-->
<!--                </option>-->
<!--            </select>-->

            <select class="form-select" th:field="*{teacher}">
<!--                <option selected>Выберите учителя...</option>-->
                <option th:each="teacher : ${teachers}"
                        th:value="${teacher.getId()}"
                        th:text="${teacher.getName()}+' '+${teacher.getSurname()}">dip
                </option>
            </select>

        </div>
<!--        <div class="form-group">-->
<!--            <label for="teacher">Преподаватель:</label>-->
<!--            <input type="text" class="form-control" th:field="*{getNameOfTeacher()}" id="teacher">-->
<!--            <div th:if="${#fields.hasErrors('nameOfTeacher')}" th:errors="*{nameOfTeacher}" style="color: red; font-size: smaller; font-style: italic">Name error</div><br>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary btn-sm">Добавить</button>
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>