<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Info</title>
    <style>
        .container{
            padding-left: 100px;
            padding-top: 50px;
        }
        li{
            list-style-type: none;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!--        <a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <li class="nav-item">
                <img src="https://upload.wikimedia.org/wikipedia/en/6/6f/Manas_University_logo.png" style="width: 60px; margin-right: 20px">
            </li>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://eders-bahar2023.manas.edu.kg/">E-Ders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://elib.manas.edu.kg/index.php">E-Библиотека</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://www.manas.edu.kg/ru">Главный сайт</a>
                </li>

            </ul>
<!--            <form class="d-flex" role="search">-->
<!--                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--            </form>-->
            <form th:action="@{/logout}" th:method="POST" class="logout">
                <button type="submit" class="btn btn-primary btn-sm">Выйти</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <table class="table table-bordered table-striped caption-top">
        <caption>Информация о студента</caption>
        <thead>
        <tr>
            <th scope="col">Имя</th>
            <th  th:text="${student.getName()}"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Фамилия</th>
            <td th:text="${student.getSurname()}">Mark</td>

        </tr>
        <tr>
            <th scope="row">Студентический номер</th>
            <td th:text="${student.getStudent_number()}">Jacob</td>
        </tr>
        <tr>
            <th scope="row">Электронная почта</th>
            <td th:text="${student.getEmail()}">Jacob</td>
        </tr>
        <tr>
            <th scope="row">Факультет</th>
            <td th:text="${student.getFaculty()}">Jacob</td>
        </tr>
        <tr>
            <th scope="row">Профессия</th>
            <td th:text="${student.getProfession()}">Jacob</td>
        </tr>
        <tr>
            <th scope="row">Место рождения</th>
            <td th:text="${student.getPlace_of_birth()}">Jacob</td>
        </tr>
        <tr>
            <th scope="row">Имя отца</th>
            <td th:text="${student.getFather_name()}">Jacob</td>
        </tr>
        <tr>
            <th scope="row">Имя мамы</th>
            <td th:text="${student.getMother_name()}">Jacob</td>
        </tr>
        <tr>
            <th scope="row">Тел. номер</th>
            <td th:text="${student.getTel_number()}">Jacob</td>
        </tr>
        <tr>
            <th scope="row">Национальность</th>
            <td th:text="${student.getNationality()}">Jacob</td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin/student/{id}/update(id=${student.getId()})}" class="btn btn-primary active" aria-current="page">Изменить</a>
    <a th:href="@{/admin/student/{id}/lessons(id=${student.getId()})}" class="btn btn-primary active" aria-current="page">Уроки</a>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>